spring.application.name=Java-springboot-backend

spring.datasource.url=jdbc:postgresql://(url):(port)/(database)
spring.datasource.username=?
spring.datasource.password=?

# The SQL dialect makes Hibernate generate better SQL for the chosen database
spring.jpa.properties.hibernate.dialect = org.hibernate.dialect.PostgreSQLDialect

#Session Setting
server.servlet.session.timeout=1800
spring.session.store-type=jdbc
spring.session.jdbc.initialize-schema=never

spring.sql.init.mode=always

# Cookie settings
server.servlet.session.cookie.name=MY_SESSION_NAME
server.servlet.session.cookie.http-only=true
server.servlet.session.cookie.same-site=lax
server.servlet.session.cookie.path=/
# server.servlet.session.cookie.secure=true  # turn on in production (requires https)

# Hibernate ddl auto (create, create-drop, validate, update)
spring.jpa.hibernate.ddl-auto=create-drop
spring.jpa.defer-datasource-initialization=true

spring.web.error.include-message=always
server.port=8080
server.servlet.context-path=/api